<div class="row animated fadeInRightBig">
  <!-- Formulario -->
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Usuarios del sistema</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle hide" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="#">Config option 1</a>
            </li>
            <li>
              <a href="#">Config option 2</a>
            </li>
          </ul>
          <a class="close-link hide">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div role="form" class="form-inline">
          <div class="form-group">
            <label for="grupo" class="sr-only">Grupo</label>
            <select name="grupo" id="grupo" [(ngModel)]="grupo" class="form-control input-sm" title="Grupo" placeholder="Grupo" [disabled]="editar">
              <option [ngValue]="grupoVacio" selected="selected">Seleccione un grupo</option>
              <option [ngValue]="g" *ngFor="let g of grupos">{{g.denominacion}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="usuario_id" class="sr-only">Usuario</label>
            <input type="text" placeholder="Usuario" id="usuario_id" name="usuario_id" title="Usuario" class="form-control input-sm"
              [(ngModel)]="usuario.usuario_id" [disabled]="editar">
          </div>
          <div class="form-group">
            <label for="nombres" class="sr-only">Nombres</label>
            <input type="text" placeholder="Nombres" id="nombres" name="nombres" title="Nombres" class="form-control input-sm" [(ngModel)]="usuario.nombres">
          </div>

          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" placeholder="Email" id="email" name="email" title="Email" class="form-control input-sm" [(ngModel)]="usuario.email">
          </div>

          <div class="checkbox m-r-xs">
            <input type="checkbox" id="activo" name="activo" [(ngModel)]="usuario.activo" title="Estado del usuario">
            <label for="activo">
              Activo
            </label>
          </div>

          <button class="btn btn-primary " type="button" (click)="guardar()">
            <i class="fa fa-check"></i>&nbsp;Guardar
          </button>
          <button class="btn btn-warning " type="button" (click)="cancelar()" [ngClass]="{'hide': !editar}">
            <i class="fa fa-times"></i>
            <span class="bold">Cancelar</span>
          </button>
          <button class="btn btn-danger " type="button" (click)="borrar()" [ngClass]="{'hide': !editar}">
            <i class="fa fa-trash"></i>&nbsp;&nbsp;
            <span class="bold">Borrar</span>
          </button>
          <div class="sk-spinner sk-spinner-cube-grid" [ngClass]="{'hide': !cargando}">
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de Formulario -->
  <!-- Tabla -->
  <div class="col-lg-12">
    <div class="ibox float-e-margins">

      <div class="ibox-content" style="">
        <div class="row">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th class="hide">Tipo Identificación</th>
                <th class="hide">Identificación</th>
                <th class="medio centrado">Oficina Productora</th>
                <th class="medio centrado">Grupo</th>
                <th class="medio centrado">Usuario</th>
                <th class="medio centrado">Nombres</th>
                <th class="medio centrado">Email</th>
                <th class="medio centrado">Activo</th>
                <th class="medio centrado">Fecha Registro</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of usuarios" style="cursor: pointer;">
                <td class="hide">{{u.tipo_id}}</td>
                <td class="hide">{{u.identificacion}}</td>
                <td>{{u.sede|capitalizar}}</td>
                <td class="medio centrado">{{u.grupo_id|uppercase}}</td>
                <td class="medio centrado">{{u.usuario_id|uppercase}}</td>
                <td>{{u.nombres|capitalizar}}</td>
                <td>{{u.email|lowercase}}</td>
                <td class="medio centrado">{{(u.activo===1)?'SI':'NO'}}</td>
                <td class="medio centrado">{{u.fecha_registro.date|date:'yyyy-MM-dd'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de tabla -->


</div>
