.green {
  background-color: #18A689;
  color: #233645;
  text-align: center;
  vertical-align: middle;
}

.blue{
  background-color: #2F4050;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.yellow {
  background-color: #FFC000;
  color: #2F4050;
  text-align: center;
  vertical-align: middle;
}
