<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span>
              <!-- <img alt="image" class="img-circle" src="assets/img/profile_small.jpg" /> -->
              <img alt="image" class="img-circle" src="{{usuario.avatar}}" height="40" />
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold">{{usuario.nombres | capitalizar}}</strong>
                </span>
                <span class="text-muted text-xs block">{{usuario.grupo}}
                  <b class="caret"></b>
                </span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li>
                <a routerLink="perfil">Perfil</a>
              </li>
              <li class="divider"></li>
              <li>
                <a routerLink="/seguridad/salir">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
          <div class="logo-element">
            {{environment.appnamesmall}}
          </div>
        </li>
        <li routerLinkActive="active">
          <a routerLink="escritorio">
            <i class="fa fa-home"></i>
            <span class="nav-label">Inicio</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="#">
            <i class="fa fa-edit"></i>
            <span class="nav-label">Archivos</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" routerLinkActive="in">
            <li routerLinkActive="active">
              <a routerLink="archivos/listado">Consultas</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="archivos/cargar">Subir archivos</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="archivos/lotes">Lotes de archivos</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="archivos/etiquetas">Etiquetas</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="archivos/resumen">Resumen</a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span class="nav-label">Sistema</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" routerLinkActive="in">
            <li routerLinkActive="active">
              <a routerLink="terceros">Terceros</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="sedes">Sedes</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="grupos">Grupos</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="usuarios">Usuarios</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="tablas">Tablas Genéricas</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary ">
            <i class="fa fa-bars"></i>
          </a>
          <form role="search" class="navbar-form-custom hide" action="search_results.html">
            <div class="form-group">
              <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
          </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Bienvenido a {{usuario.tercero}}</span>
          </li>
          <li class="dropdown hide">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-envelope"></i>
              <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="assets/img/a7.jpg">
                  </a>
                  <div class="media-body">
                    <small class="pull-right">46h ago</small>
                    <strong>Mike Loreipsum</strong> started following
                    <strong>Monica Smith</strong>.
                    <br>
                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="assets/img/a4.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="pull-right text-navy">5h ago</small>
                    <strong>Chris Johnatan Overtunk</strong> started following
                    <strong>Monica Smith</strong>.
                    <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="assets/img/profile.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="pull-right">23h ago</small>
                    <strong>Monica Smith</strong> love
                    <strong>Kim Smith</strong>.
                    <br>
                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="mailbox.html">
                    <i class="fa fa-envelope"></i>
                    <strong>Read All Messages</strong>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown hide">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-bell"></i>
              <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="mailbox.html">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="profile.html">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="grid_options.html">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="notifications.html">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>


          <li>
            <a routerLink="/seguridad/salir">
              <i class="fa fa-sign-out"></i> Cerrar Sesión
            </a>
          </li>
        </ul>

      </nav>

    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>{{title}}</h2>
        <ol class="breadcrumb hide">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a>Layouts</a>
          </li>
          <li class="active">
            <strong>Outlook view</strong>
          </li>
        </ol>
        <ol class="breadcrumb">
          <li *ngFor="let link of navlinks" [ngClass]="{'active': link.active}">
            <a *ngIf="!link.active" [routerLink]="[link.url]">
              {{link.title}}
            </a>
            <strong *ngIf="link.active">{{link.title}}</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
    </div>
    <div class="fh-breadcrumb">
      <!-- <div class="full-height"> -->
      <div class="full-height-scroll white-bg">

        <!-- <div class="wrapper wrapper-content animated fadeInRightBig"> -->
        <!-- <div class="middle-box text-center animated fadeInRightBig"> -->
        <router-outlet (activate)="component_added($event)" (deactivate)="component_removed($event)"></router-outlet>
        <!-- </div> -->
        <!-- </div> -->


      </div>
      <!-- </div> -->
    </div>

    <div class="footer">
      <div class="pull-right">
        <strong>
          {{environment.appname}}
        </strong>
        {{environment.version}}
      </div>
      <div>
        <strong>Copyright</strong> {{environment.companyname}} &copy; {{environment.yearscopyrigth}}
      </div>
    </div>

  </div>
</div>
