<!-- <iframe id="iframe{{archivo.archivo_id}}" width="100%" height="200px" [src]="archivo.directorio+'/'+archivo.nombre | safe"
  ></iframe> -->

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="">
        <div class="col-md-6">

          <div class="file-box">
            <div class="file">
              <a href="#" (click)="abrirArchivo(archivo.directorio+'/'+archivo.nombre)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-file-pdf-o"></i>
                </div>
                <div class="file-name">
                  {{archivo.nombre}}
                  <br>
                  <small>Subido: {{archivo.fecha_registro | fecha}}</small>
                </div>
              </a>
            </div>

          </div>
          <div class="profile-info">
            <div class="">
              <div>
                <h2 class="no-margins">
                  Alex Smith
                </h2>
                <h4>Founder of Groupeq</h4>
                <small>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Ipsum
                  available.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- pager -->

        </div>

      </div>

    </div>


  </div>
</div>
<div class="text-center">
  <div *ngIf="pager.pages && pager.pages.length>0" class="btn-group">
    <button class="btn btn-white" type="button" (click)="set_page(1)" [ngClass]="{disabled:pager.currentPage === 1}" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button class="btn btn-white" type="button" (click)="set_page(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}"
      [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-white" [ngClass]="{active:pager.currentPage === page}" *ngFor="let page of pager.pages" (click)="set_page(page)">{{page}}</button>
    <button class="btn btn-white" type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="set_page(pager.currentPage + 1)">
      <i class="fa fa-chevron-right"></i>
    </button>
    <button class="btn btn-white" type="button" (click)="set_page(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
      [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>

<div class="row" *ngIf="false">
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" *ngFor="let imagen of pagedItems; let i = index">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{i}}" aria-expanded="false" class="collapsed">
          <div class="panel-heading">
            <h5 class="panel-title">
              Página {{i+1+pager.startIndex}} de {{pager.totalItems}}
            </h5>
          </div>
        </a>
        <div id="{{i}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <img src="{{imagen}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Mostrando {{(itemsPorPagina<pager.totalItems)?itemsPorPagina:pager.totalItems}} de {{pager.totalItems}} páginas</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="#">Config option 1</a>
            </li>
            <li>
              <a href="#">Config option 2</a>
            </li>
          </ul>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="carousel slide" id="carousel3">
          <div class="carousel-inner">
            <div class="item gallery" *ngFor="let imagen of pagedItems; let i = index" [ngClass]="{'active': i===0}">
              <div class="row">
                <div class="col-lg-12">
                  <img alt="Pág {{i+1+pager.startIndex}}" class="img-responsive" src="{{imagen}}">
                </div>
              </div>
            </div>

          </div>
          <a data-slide="prev" href="#carousel3" class="left carousel-control">
            <span class="icon-prev"></span>
          </a>
          <a data-slide="next" href="#carousel3" class="right carousel-control">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
